@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


strong {
    font-weight: 500;
}


/* @layer base {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Clash Grotesk', sans-serif !important;
    }
} */